<!-- now should be obselete -->
<!DOCTYPE html>
<html lang="en">
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>{{title}}</title>
    
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/stylesheets/colors.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/stylesheets/sidebar.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/stylesheets/general.css" type="text/css" rel="stylesheet" media="screen,projection" />
  </head>

  <main>
    <body>
      <!-- https://materializecss.com/grid.html -->
      <nav class="navbar main_color sticky front" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"></a>
          <ul class="left hide-on-med-and-down">
      
            <li> <a href="/main"> <img src="images/DDDlogo6.0.png" width="64" length="64"> </a> </li>
          </ul>

          <header class="center brand-logo">{{title}}</header>

          <ul class="right hide-on-med-and-down">
            <li><a href="/main">Insurance Comparison Software Prototype</a></li>
          </ul>
          
          <ul class="right hide-on-med-and-down">
            <li><a href="/login">Login</a></li>
          </ul>
      
          <ul id="nav-mobile" class="sidenav">
            <li><a href="#">Navbar Link</a></li>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>

      {{{body}}}
    </body>
  </main>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="javascripts/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="javascripts/url_params.js"></script> 
  
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="javascripts/materialize.min.js"></script>
</html>
