{{#with array}}
<div class="container">
    <div id='header' class="card purple lighten-5">
        <span class="card-title">
            <h1 id="pageTitle"><center>{{0.ID}}</center></h1>
        </span>
        <div class="row center">
            <div class="button_wrapper col s6">
                <button class="submit waves-effect waves-light btn btn-large main_color" type="submit" onclick="editEntry()">Edit Account</button>
            </div>


            <div class="button_wrapper col s6">
                <button class="submit waves-effect waves-light btn btn-large main_color" type="submit" onclick="openModal()" >Remove Entry</button>
            </div>

            <div id="confModal" class="modal">
                <div class="modal-content">
                    <h4>Entry Removal Confirmation</h4>
                    <p>Are you sure you want to remove this entry?</p>
                </div>
                <div class="modal-footer">
                    <a href="#" onclick="removeEntry()" class="modal-close waves-effect waves-green btn-flat">Yes, delete it</a> 
                    <a href="#" class="modal-close waves-effect waves-green btn-flat">No wait don't</a>
                </div>
            </div>
        </div>

        <form id="editForm" action="{{0.ID}}" method="POST" hidden="true">
            <div class="row">
                <div class="input-field col s2.5">
                    <input value="{{0.ID}}" type="text" id="entry_ID" name="entry_ID" class="validate" data-length="32" required>
                    <label for="entry_ID" class="active">Client ID</label>
                </div> 
                <div class="input-field col s2.5">
                    <input value="{{0.segment}}" type="text" id="entry_segment" name="entry_segment" class="validate" data-length="32" required>
                    <label for="entry_segment" class="active">Broking Segment</label>
                </div>
                <div class="input-field col s2.5">
                    <input value="{{0.region}}" type="text" id="entry_region" name="entry_region" class="validate" data-length="32" required>
                    <label for="entry_region" class="active">Broker Region</label>
                </div>            
                <div class="input-field col s2.5">
                    <input value="{{0.industry}}" type="text" id="entry_industry" name="entry_industry" class="validate" data-length="32" required>
                    <label for="entry_industry" class="active">Entry Industry</label>
                </div>
                <div class="input-field col s2.5">
                    <input value="{{0.hazardGroup}}" type="text" id="entry_hazard" name="entry_hazard" class="validate" data-length="32" required>
                    <label for="entry_hazard" class="active">Hazard Entry</label>
                </div>    
            </div>
            <div class="row">
                <div class="input-field col s2.5">
                    <input value="{{0.revenue}}" type="text" id="entry_revenue" name="entry_revenue" class="validate" data-length="32" required>
                    <label for="entry_revenue" class="active">Global Revenue</label>
                </div>
                <div class="input-field col s2.5">
                    <input value="{{0.powerUnits}}" type="text" id="entry_units" name="entry_units" class="validate" data-length="32" required>
                    <label for="entry_units" class="active">Power Units</label>
                </div>
                <div class="input-field col s2.5">
                    <input value="{{0.insurableValue}}" type="text" id="entry_TIV" name="entry_TIV" class="validate" data-length="32" required>
                    <label for="entry_TIV" class="active">Total Insurable Value</label>
                </div>
                <div class="input-field col s2.5">
                    <input value="{{0.payroll}}" type="text" id="entry_payroll" name="entry_payroll" class="validate" data-length="32" required>
                    <label for="entry_payroll" class="active">Payroll</label>
                </div> 
                <div class="input-field col s2.5">
                    <input value="{{0.catastrophe}}" type="text" id="entry_exposure" name="entry_exposure" class="validate" data-length="32" required>
                    <label for="entry_exposure" class="active">Catastrophe Exposure</label>
                </div>
            </div>

            <center>
                <div class="button_wrapper">
                    <button class="submit waves-effect waves-light btn btn-large main_color" type="submit">Submit</button>
                </div>
            </center>
        </form>
        
    </div>
</div>
<!--<div class="card-content">-->
<div class="container">
<div class="card">
    <table class="highlight centered responsive-table">
        <thead>
            <tr>
                <th>Broking Segment </th> 
                <th>Broking Region </th>
                <th>Industry</th>
                <th>Hazard Group</th>
                <th>Revenue</th>
                <th>Power Units</th>
                <th>Insurable Value</th>
                <th>Payroll</th>
                <th>Catastrophe Exposure</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{0.segment}}</td>
                <td>{{0.region}}</td>
                <td>{{0.industry}}</td>
                <td>{{0.hazardGroup}}</td>
                <td>{{0.revenue}}</td>
                <td>{{0.powerUnits}}</td>
                <td>{{0.insurableValue}}</td>
                <td>{{0.payroll}}</td>  
                <td>{{0.catastrophe}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<div class="container account-details">{{"Here we can have more text for a description"}}</div>
</div>
</div>
{{/with}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script> 
    var val = true;

    function editEntry() {
        
        if(val) {
            document.getElementById('editForm').style.display = 'block';
            val = false;
        }

        else {
            document.getElementById('editForm').style.display = 'none';
            val = true;
        }  
    }


    function openModal() {  
        var elems = document.querySelectorAll('#confModal');
        options = {};
        var instances = M.Modal.init(elems, options);
        instances[0].open();
    }

    var href = window.location.href;
    var len = href.length;

    function removeEntry() {
        
        let data = {name: document.getElementById("pageTitle").innerText};
        console.log(JSON.stringify(data));
        fetch("/main", {
            method: "POST", 
            body: JSON.stringify(data),
            headers: {
                "Content-Type": "application/json"
            }
        });

        window.location.href = "../main";
    }

</script>
