<script>     

    var mysql = require('mysql');

    var con = mysql.createConnection({
        host: "localhost",
        user: "root",
        password: "Cas2Boh2Mas"
        //,database: "DevDB"
    });
        
    function addEntry() { 

        console.log("hello world!!!!!!!!!!!!!!!!!!!!!!!!!!!!!");

        const entry_ID = document.getElementById("entry_ID").value;
        const entry_segment = document.getElementById("entry_segment").value;
        
        const entry_region = document.getElementById("entry_region").value;
        const entry_industry = document.getElementById("entry_industry").value;
        
        const entry_hazard = document.getElementById("entry_hazard").value;
        const entry_revenue = document.getElementById("entry_revenue").value;
        
        const entry_units = document.getElementById("entry_units").value;
        const entry_TIV = document.getElementById("entry_TIV").value;
        
        const entry_payroll = document.getElementById("entry_payroll").value;
        const entry_exposure = document.getElementById("entry_exposure").value;

        var sql = "INSERT INTO test_accounts ("+entry_ID+", "+entry_segment+", "+entry_region+", "+entry_industry+", "+entry_hazard+", "+entry_revenue+", "+entry_units+", "+entry_TIV+", "+entry_payroll+", "+entry_exposure+")";
        console.log(sql);

        con.query(sql, function (err, result) {
            if (err) throw err;
            console.log("1 record inserted");
        }); 
    }
    
</script>

<div class="container">
    <div class="card purple lighten-5">
        <div class="card-content">
            <span class="card-title"><h1>Add Data Entries:</h1></span>

                
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input type="text" id="entry_ID" name="entry_ID" class="validate" data-length="32" required>
                <label for="entry_ID">Client ID</label>
            </div>
            <div class="input-field col s6">
                <input type="text" id="entry_segment" name="entry_segment" class="validate" data-length="32" required>
                <label for="entry_segment">Broking Segment</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input type="text" id="entry_region" name="entry_region" class="validate" data-length="32" required>
                <label for="password">Broker Region</label>
            </div>            
            <div class="input-field col s6">
                <input type="text" id="entry_industry" name="entry_industry" class="validate" data-length="32" required>
                <label for="password">Entry Industry</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s6">
                <input type="text" id="entry_hazard" name="entry_hazard" class="validate" data-length="32" required>
                <label for="password">Hazard Entry</label>
            </div>    
            <div class="input-field col s6">
                <input type="text" id="entry_revenue" name="entry_revenue" class="validate" data-length="32" required>
                <label for="password">Global Revenue</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input type="text" id="entry_units" name="entry_units" class="validate" data-length="32" required>
                <label for="password">Power Units</label>
            </div>
            <div class="input-field col s6">
                <input type="text" id="entry_TIV" name="entry_TIV" class="validate" data-length="32" required>
                <label for="password">Total Insurable Value</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s6">
                <input type="text" id="entry_payroll" name="entry_payroll" class="validate" data-length="32" required>
                <label for="password">Payroll</label>
            </div> 
            <div class="input-field col s6">
                <input type="text" id="entry_exposure" name="entry_exposure" class="validate" data-length="32" required>
                <label for="password">Catastrophe Exposure</label>
            </div>
        </div>

        <div class="button_wrapper">
            <button class="submit waves-effect waves-light btn" onclick="addEntry()" type="submit">
                Submit
                </button>
        </div>
    </div>
</div>