<div class="container">
    <div class="card purple lighten-5">
        <div class="card-content">
            <span class="card-title"><h1>Add Data Entries:</h1></span>
             <div class="button_wrapper">
                <a class="submit waves-effect waves-light btn btn-large main_color" type="submit" href="/file-upload">Upload File</a>
            </div>
        </div>


        <form action="adding-entries" method="POST">
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" id="entry_ID" name="entry_ID" class="validate" data-length="32" required>
                    <label for="entry_ID">Client ID</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" id="entry_segment" name="entry_segment" class="validate" data-length="32" required>
                    <label for="entry_segment">Broking Segment</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input type="text" id="entry_region" name="entry_region" class="validate" data-length="32" required>
                    <label for="entry_region">Broker Region</label>
                </div>            
                <div class="input-field col s6">
                    <input type="text" id="entry_industry" name="entry_industry" class="validate" data-length="32" required>
                    <label for="entry_industry">Entry Industry</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" id="entry_hazard" name="entry_hazard" class="validate" data-length="32" required>
                    <label for="entry_hazard">Hazard Entry</label>
                </div>    
                <div class="input-field col s6">
                    <input type="text" id="entry_revenue" name="entry_revenue" class="validate" data-length="32" required>
                    <label for="entry_revenue">Global Revenue</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input type="text" id="entry_units" name="entry_units" class="validate" data-length="32" required>
                    <label for="entry_units">Power Units</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" id="entry_TIV" name="entry_TIV" class="validate" data-length="32" required>
                    <label for="entry_TIV">Total Insurable Value</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" id="entry_payroll" name="entry_payroll" class="validate" data-length="32" required>
                    <label for="entry_payroll">Payroll</label>
                </div> 
                <div class="input-field col s6">
                    <input type="text" id="entry_exposure" name="entry_exposure" class="validate" data-length="32" required>
                    <label for="entry_exposure">Catastrophe Exposure</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="entry_description" name="entry_description" class="materialize-textarea">{{0.description}}</textarea>
                    <label for="entry_description">Description</label>
                </div>
            </div>


            <center>
                <div class="button_wrapper">
                    <button class="submit waves-effect waves-light btn btn-large main_color" type="submit">Submit</button>
                </div>
            </center>
        </form>

    </div>
   
</div>