<div class="container">
    <div class="card purple lighten-5">
        <div class="card-content">
            <span class="card-title"><h1>Add Data Entries:</h1></span>

                
        </div>


        <form action="adding_entries" method="POST">
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" id="entry_ID" name="entry_ID" class="validate" data-length="32" required>
                    <label for="entry_ID">Client ID</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" id="entry_segment" name="entry_segment" class="validate" data-length="32" required>
                    <label for="entry_segment">Broking Segment</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input type="text" id="entry_region" name="entry_region" class="validate" data-length="32" required>
                    <label for="entry_region">Broker Region</label>
                </div>            
                <div class="input-field col s6">
                    <input type="text" id="entry_industry" name="entry_industry" class="validate" data-length="32" required>
                    <label for="entry_industry">Entry Industry</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" id="entry_hazard" name="entry_hazard" class="validate" data-length="32" required>
                    <label for="entry_hazard">Hazard Entry</label>
                </div>    
                <div class="input-field col s6">
                    <input type="number" id="entry_revenue" name="entry_revenue" class="validate" data-length="32" required>
                    <label for="entry_revenue">Global Revenue</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input type="number" id="entry_units" name="entry_units" class="validate" data-length="32" required>
                    <label for="entry_units">Power Units</label>
                </div>
                <div class="input-field col s6">
                    <input type="number" id="entry_TIV" name="entry_TIV" class="validate" data-length="32" required>
                    <label for="entry_TIV">Total Insurable Value</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s6">
                    <input type="number" id="entry_payroll" name="entry_payroll" class="validate" data-length="32" required>
                    <label for="entry_payroll">Payroll</label>
                </div> 
                <div class="input-field col s6">
                    <input type="text" id="entry_exposure" name="entry_exposure" class="validate" data-length="32" required>
                    <label for="entry_exposure">Catastrophe Exposure</label>
                </div>
            </div>

            <center>
                <div class="button_wrapper">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </center>
        </form>

    </div>
    
    <div class="card purple lighten-5">
        <div class="card-content" text-align="center" >
            <span class="card-title"><h1>Add Data Entries Via Document:</h1></span>
        </div>
        <form action="adding_entries" method="post">
            <center>
                <input type="file" id="entry_file" align="center" required> </input>
                <label for="entry_file"></label>
                
                <br><br><br>
                <div class="button_wrapper">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </center>
        </form>

    </div>   
</div>
