<div class="container">
    <div class="card purple lighten-5">
        <div class="card-content">
            <span class="card-title"><h1>Add Data Entries:</h1></span>

                
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input type="text" id="entry_name" name="entry_name" class="validate" data-length="32" required>
                <label for="login_id">Client Name</label>
            </div>
            <div class="input-field col s6">
                <input type="text" id="entry_office" name="office" class="validate" data-length="32" required>
                <label for="login_id">Office / Market</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input type="text" id="entry_broker" name="entry_broker" class="validate" data-length="32" required>
                <label for="password">Placement Broker</label>
            </div>            
            <div class="input-field col s6">
                <input type="text" id="entry_advocate" name="entry_advocate" class="validate" data-length="32" required>
                <label for="password">Entry Advocate</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s6">
                <input type="text" id="entry_SIC" name="entry_SIC" class="validate" data-length="32" required>
                <label for="password">SIC Code</label>
            </div>    
            <div class="input-field col s6">
                <input type="text" id="entry_revenue" name="entry_revenue" class="validate" data-length="32" required>
                <label for="password">Revenue (Band)</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input type="text" id="entry_NOC" name="entry_NOC" class="validate" data-length="32" required>
                <label for="password">Number of Countries</label>
            </div>
            <div class="input-field col s6">
                <input type="text" id="entry_limit" name="entry_limit" class="validate" data-length="32" required>
                <label for="password">Limits</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s6">
                <input type="text" id="entry_loss" name="entry_loss" class="validate" data-length="32" required>
                <label for="password">Losses</label>
            </div> 
            <div class="input-field col s6">
                <input type="text" id="entry_retention" name="entry_retention" class="validate" data-length="32" required>
                <label for="password">Retentions</label>
            </div>
        </div>

        <div class="button_wrapper">
            <button class="submit waves-effect waves-light btn" onclick="addEntry(entry_name, entry_office, entry_broker, entry_advocate, entry_SIC, entry_revenue, entry_NOC, entry_limit, entry_loss, entry_retention)" type="submit">
                Submit
                </button>
        </div>

        

    </div>
</div>

<script>     
    function addEntry(var Ename, var office, var broker, var clientAdvocate, var industry, var revenue, var footprint, var limits, var losses, var retentions) { 
        var sql = "INSERT INTO test_accounts (1, "+Ename+", "+office+", "+broker+", "+clientAdvocate+", "+industry+", "+revenue+", "+footprint+", "+limits+", "+losses+", "+retentions+"")";
        console.log(sql);
        con.query(sql, function (err, result) {
            if (err) throw err;
            console.log("1 record inserted");
        });
    }
    
</script>