<div class="card purple lighten-5">
        <div class="card-content" text-align="center" >
            <span class="card-title"><h1>Add Data Entries Via Document:</h1></span>

        </div>
        <form action="file-upload" method="POST" enctype="multipart/form-data">
            <center>
                <input type="file" id="entry_file" name="document" align="center" accept=".xlsx" required> </input>
                <label for="entry_file"></label>
                
                <div class="button_wrapper">
                    <button class="submit waves-effect waves-light btn btn-large main_color"  type="submit">Submit</button>
                </div>
            </center>
        </form>
</div>   