<body>
    <center>
        <h1>{{title}}</h1>
        <h5>Welcome to {{title}}</h5>
        <h2>About us:</h2>
        <h5>Three Students</h5> 
        <h5>Nine Months</h5>
        <h5>One Project</h5> 
        <h5>Two Teachers</h5>
        <h5>Countless Issues</h5>
        <h5>The Journey of a Lifetime</h5> 
        <h3><b> Welcome to the Future</b></h3>
    </center>
</body>