<body>
    <center>
        <h1>{{title}}</h1>
        <h5>Welcome!</h5>
        <h2>About us:</h2>
        <h5>This website was made by three high school seniors as a way to visualize and find entries in a database for Willis Towers Watson.</h5> 
        <h6>To view the data you can sign in with this button below:</h6>
        {{#if notAuthenticated}}
        <div class="button_wrapper col s2">
            <a class="submit waves-effect waves-light btn btn-large main_color" type="submit" href="/login">Log In</a>
        </div>
        {{/if}}
    </center>
</body>