<div class="container">

    <!--
    <blockquote>
    Click on the event name for more details!
    Click on <i class="material-icons tiny">sort</i> to sort by that column, or items in <i
        class="material-icons tiny">filter_list</i> columns to filter by that item.
    </blockquote>
    <div class="row">
    <div class="col l3 s12 "> <i class="left material-icons">sort</i>Sorted by: Yes!</div>
    <div class="col l3 offset-l6 ">
        Position diffeently (left) for mobile 
        <div class="right hide-on-small-only"><i class="left material-icons">filter_list</i>Filter: None</div>
        <div class="left hide-on-med-and-up"><i class="left material-icons">filter_list</i>Filter: None</div>
    </div>

    </div>
    -->

    <!-- https://materializecss.com/table.html -->
    <table class="highlight centered responsive-table">
        <thead>
            <th>Client Name</th>
            {{#if include_office}}
                <th>Office/Market</th>
            {{/if}}
            {{#if include_broker}}
                <th>Placement Broker</th>
            {{/if}}
            <th>Client Advocate/Account Executive</th>
            <th>SIC Code/Industry</th>
            <th>Revenue (Band)</th>
            <th>Global Footprint (Number of Countries)</th>
            <th>Limits</th>
            <th>Losses</th>
            <th>Retentions</th>
        </thead>
        <tbody>
            <tr>
                {{#each array}}
                <tr>
                    {{#each this}}
                    <td>{{this}}</td>
                    {{/each}}
                </tr>
                {{/each}}
            </tr>
        </tbody>
    </table>
</div>

<div class="sidebar">

    <p></p>
    {{#if include_office}}
        <a onclick="addUrlParameter('include_office', 'false')">Including Office</a>
    {{else}}
        <a onclick="addUrlParameter('include_office', 'true')">Excluding Office</a>
    {{/if}}

    <p></p>
    {{#if include_broker}}
        <a onclick="addUrlParameter('include_broker', 'false')">Including Broker</a>
    {{else}}
        <a onclick="addUrlParameter('include_broker', 'true')">Excluding Broker</a>
    {{/if}}

    <form action="#">
        
        
        <p>
            <label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>Placement Broker</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>Account Exec.</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>SIC Code/Industry</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>Revenue (Band)</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>Global Footprint</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>Limits</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>Losses</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>Retentions</span>
            </label>
        </p>
    </form>

</div>

<div class="row">
    <br><br><br><br><br><br><br><br><br>

     <div class="button_wrapper col s2">
            <a class="submit waves-effect waves-light btn btn-large" type="submit" href="/adding_entries">Add Entries</a>
        </div>
</div>
