<div class="container">
    <div class="card purple lighten-5">
        <div class="card-content">
            <span class="card-title">
                <h1>Search for entries: </h1>
            </span>
        </div>

        <div class="row">
            <div class="row col s6">
                <div class="input-field col s12">
                    <i class="material-icons prefix">fingerprint</i>
                    <input type="text" id="autocomplete-input" class="autocomplete ID">
                    <label for="autocomplete-input">ID</label>
                </div>
            </div>
            <div class="row col s6">
                <div class="input-field col s12">
                    <i class="material-icons prefix">fingerprint</i>
                    <input type="text" id="autocomplete-input" class="autocomplete SEG">
                    <label for="autocomplete-input">Broking Segment</label>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.ID'); //Create ID dropdown
            M.Autocomplete.init(elems);
            for (elem in elems) { 
                var instance = M.Autocomplete.getInstance(elem)
                instance.updateData({
                    //Handlebars in JS, yummy
                    {{#each IDVals}} 
                    "{{this}}" : null,
                    {{/each}}
                    "" : null
                });
            }
        });
</script>