<div class="container">
    <div class="card purple lighten-5">
        <div class="card-content">
            <span class="card-title">
                <h1>Search for entries: </h1>
            </span>
        </div>

        <div class="row">
            <div class="row col s6">
                <div class="input-field col s12">
                    <i class="material-icons prefix">fingerprint</i>
                    <input type="text" id="ID-input" class="autocomplete">
                    <label for="autocomplete-input">ID</label>
                </div>
            </div>
            <div class="row col s6">
                <div class="input-field col s12">
                    <i class="material-icons prefix">language</i>
                    <input type="text" id="segment-input" class="autocomplete">
                    <label for="autocomplete-input">Broking Segment</label>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('#ID-input'); //Create ID dropdown
        console.log(elems[0])
        var instances = M.Autocomplete.init(elems, { 
            data: {
                //Handlebars in JS, yummy
                {{#each IDVals}} 
                "{{this}}" : null,
                {{/each}}
                "" : null //TODO make it not do this...
            },
            minLength : 0,
            limit : 6
        });

        var elems = document.querySelectorAll('#ID-input'); //Create ID dropdown
        var id_instances = M.Autocomplete.init(elems, { 
            data: {
                //Handlebars in JS, yummy
                {{#each ID}} 
                "{{this}}" : null,
                {{/each}}
                "" : null //TODO make it not do this...
            },
            minLength : 0,
            limit : 6
        });

        var elems = document.querySelectorAll("#segment-input"); //Create ID dropdown
        var segment_instances = M.Autocomplete.init(elems, { 
            data: {
                //Handlebars in JS, yummy
                {{#each segment}} 
                "{{this}}" : null,
                {{/each}}
                "" : null //TODO make it not do this...
            },
            minLength : 0,
            limit : 6
        });        

        console.log("done!"); 
    });
</script>