<div class="container">
    <table class="highlight centered responsive-table">
        <thead>
            <th class="sticky table_head">Name</th>
        </thead>
        <tbody>
            <tr>
                <td>Hard-coded test</td>
            </tr>
        </tbody>
    </table>
</div>