.inline {
    float:left;
}
.search_buttons {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search_button {
    margin-left: 20p;
    margin-right: 20p;
}
.fixed {
    position: fixed;
    z-index:9999;
}
.sticky {
    position: sticky;
    top: 0;
}
.table_head {
    background-color: white;
    border-bottom: 1px solid grey;
    
}